:root{

    ---corfundo: rgb(36, 35, 35);
    ---correde: rgb(32, 78, 179);
    ---corlinha: red;
}

body {
    
    width:  100%;
    height: 100%;
    margin: 0 auto;
    background: var(---corfundo)
}

.topo {  /*FUNDO DO CABEÇALHO*/

    width: 100%;
    background-color: var(---corfundo);
    height: 50px;
    border-bottom: 1px solid var(---corlinha);
}

.topo{

    width: 100vw;                                               
    margin: 0 auto;
    position: relative;
}

.logo { /*LOGO PANELA SECRETA*/

    float: right;
    padding: 15px;
    width: 56%;
}

.topo2 { /*FUNDO DO MENU*/

    background-color: var(---corfundo);      
    width: 100%;
    border-bottom: 1px solid var(---corlinha);
    float: left;
}
.menudp ul li {

    display: inline-block;
    color: black;
    margin-left: 90px;
    width: 225px;
}

.menudp ul li a {

    color: gray;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}

.fotoperfil {
    height: 275; 
    width: 183;
    float: left;
    border-radius: 20px;
    overflow: hidden;
    transform: translate(2%, 5%);

}

